

{% extends 'base.html' %}
{% load static %}

{% block content_top %}
<div class="container mt-5" style="max-width: 400px;">
    <h3 class="text-center mb-4">Login</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username atau Email</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            Username atau password salah.
        </div>
    {% endif %}
</div>
{% endblock %}
